// Colours
//
$wtt-grey:                                    #cccccc;
$wtt-nav:                                     #999999;
$wtt-dry:                                     #FDB62C;
$wtt-wet:                                     #00A5E5;
$wtt-moderate:                                #65C297;
$wtt-flood:                                   #0052BC;
$wtt-body-color:                              #4D4D4D;
$improvement:                                 #65C297;
$no-change:                                   #B3B3B3;
$decline:                                     #F16465;
$water:                                       #0071BC;
$wtt-item-header:                             #808080;
$works:                                       #808080;


//Whos Who
$ww-bg:                                       #f0ede8;
$ww-border-radius:                            3px;
$ww-dark-blue:                                #1c2c50;
$ww-green:                                    #12bf75;

//Report card
$rc-bg:                                       #f0ede8;
$rc-border-color:                             #dad9d9;
$rc-dark-blue:                                #1c2c51;
$rc-excellent:                                #00bd70;
$rc-good:                                     #60c5ba;
$rc-improvement:                              #bacb76;

//Water-summary
$ws-tab:                                      #f0f0f0;
$ws-tab-color:                                #8c8c8c;
$ws-tab-border-color:                         #f0f0f0;
$ws-tab-bg:                                   #f7f7f7;
$ws-green:                                    #00bd70;
$ws-excellent:                                #00bd70;
$ws-good:                                     #60c5ba;
$ws-improvement:                              #bacb76;

// Our progress
$op-blue:                                     #60c5ba;


$blue:                                        #25a1db;
$green:                                       #17b791;
$purple:                                      #9b3a95;
$red:                                         #e15047;
$primary:                                     $blue;
$secondary:                                   $purple;
$success:                                     $green;
$pColor:                                      $primary;
$sColor:                                      $green;
$tColor:                                      $purple;
$footer-bg:                                   #26313f;
$footer-bg-alt:                               #313c49;


// Common variables
//
$body-bg:                                     white;
$body-color:                                  #26313e;
$font-size-base:                              1rem; // Assumes the browser default, typically `16px`
$font-family:                                 'Open Sans', sans-serif;
